---
type LogoData = {
  src: string;
  alt: string;
};

const logos: LogoData[] = [
  { src: "/fullrenew-logo.webp", alt: "Logo fullRenew" },
  { src: "/nsysgroup-logo.webp", alt: "Logo NSYSGroup" },
  { src: "/fullrenew-logo.webp", alt: "Logo fullRenew" },
  { src: "/nsysgroup-logo.webp", alt: "Logo NSYSGroup" },
  { src: "/fullrenew-logo.webp", alt: "Logo fullRenew" },
  { src: "/nsysgroup-logo.webp", alt: "Logo NSYSGroup" },
  { src: "/fullrenew-logo.webp", alt: "Logo fullRenew" },
  { src: "/nsysgroup-logo.webp", alt: "Logo NSYSGroup" },
  { src: "/fullrenew-logo.webp", alt: "Logo fullRenew" },
  { src: "/nsysgroup-logo.webp", alt: "Logo NSYSGroup" },
  { src: "/fullrenew-logo.webp", alt: "Logo fullRenew" },
];
---
<section class="relative flex flex-row gap-4 md:gap-8 overflow-hidden whitespace-nowrap w-full h-12 text-secondary after:absolute after:top-0 after:w-52 after:h-full after:z-10 
    after:left-0 after:bg-gradient-to-l after:from-transparent after:to-neutral-900 before:absolute before:top-0 before:w-52 before:h-full before:z-10 
    before:right-0 before:bg-gradient-to-r before:from-transparent before:to-neutral-900">
    <span class="absolute w-auto top-0 left-0 flex flex-row justify-center items-end gap-8">
        {
            logos.map((logo, index) => (
                <img src={logo.src} alt={logo.alt} class="animate-logo_slide w-40 h-auto" />
            ))
        }
    </span>
</section>